<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.elmspring.dao.IBussinessDao">
    <resultMap id="businessandfood" type="com.example.elmspring.model.Business">
        <result property="id" column="bid" ></result>
        <result property="name" column="bname" ></result>
        <result property="img" column="bimg" ></result>
        <result property="startPrice" column="startPrice" ></result>
        <result property="deliveryPrice" column="deliveryPrice" ></result>
        <collection property="fds" ofType="com.example.elmspring.model.Food">
            <result property="id" column="fid"></result>
            <result property="name" column="fname"></result>
            <result property="explain" column="fe"></result>
            <result property="img" column="fimg"></result>
            <result property="price" column="price"></result>
        </collection>
    </resultMap>
    <select id="selAllBus" resultType="com.example.elmspring.model.Business" >
        select * from business
    </select>
    <select id="selAllBusByTypeId" parameterType="long" resultType="com.example.elmspring.model.Business">
        select * from business where TypeId=#{typeId}
    </select>
    <select id="selBusById" parameterType="long" resultMap="businessandfood">
        select b.Id as bid ,b.name as bname ,b.img as bimg, startPrice,deliveryPrice, f.id as fid ,f.name as fnaem ,f.explain as fe,f.img as fimg ,price from business b LEFT JOIN Food f on b.id=F.businessId where b.id=#{id}
    </select>
</mapper>